/*---GENERALES---*/
body {
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    margin: 0 auto;
}

html {
  scroll-behavior: smooth;
}
/*---END GENERALES---*/

/*---HEADER---*/
#header {
  background-color: rgba(46, 109, 137, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85px;
}
.nav-bar {
  display: flex;
  gap: 30px;  
}

.nav-bar a {
  color: white;
  text-decoration: none;
  font-weight:bold;
  font-size: 20px;
}
/*---END HEADER---*/

/*---FOOTER---*/
#footer{
  background-color: rgba(46, 109, 137, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85px;  
}

.footer-text{
  color: white;
  font-weight: bold;  
}
/*---END FOOTER---*/



/*---------------------------------------------*/
/*             SECCIONES PRINCIPALES           */
/*---------------------------------------------*/


/*--SECCIÓN PRESENTACIÓN--*/
#presentacion {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
}

.presentacion-container{
  display: flex;
  justify-content: center;
  align-items: center; 
  gap: 40px;
}

.personal-img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.presentacion-text h1{
  color: rgba(46, 109, 137, 1);;
}
/*--END PRESENTACIÓN--*/

/*--SECCIÓN SOBRE MI--*/
#sobremi {
  background-image: url("imgs/fondo_seccion_sobremi.png");
  background-size: cover;
  background-position: center;
  height: 500px;
}

.sobremi-container {
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sobremi-text {
  text-align: center;
  color: white;
  max-width: 800px;
}
.sobremi-text h2{
  color: rgba(46, 109, 137, 1);
}
/*--END SOBRE MI--*/

/*--SECCIÓN PROYECTOS--*/
#proyectos{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
}
/*--END PROYECTOS--*/

/*--SECCIÓN TECNOLOGIAS--*/
#tecnologias{
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  height: 300px;
}

.logo-tecno{
  transition: 0.3s ease;
}

.logo-tecno:hover {
  transform: scale(1.2);
}

.python-logo {
  width: 100px;
  margin-left: 15px;
  margin-right: -15px;
}

.java-logo {
  width: 160px;
  margin-left: 50px;
  margin-right: -15px;
}

.html-logo {
  width: 210px;
  margin-bottom: 10px;
}

.css-logo {
  width: 125px;
  margin-bottom: 10px;
}

.js-logo {
  width: 230px;
}

.mysql-logo {
  width: 120px;
  margin-bottom: 10px;
}

.mongodb-logo {
  width: 130px;
  margin-left: 50px;
  margin-bottom: 5px;
}
/*--END TECNOLOGIAS--*/


/*--SECCIÓN CONTACTO*/
#contacto {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px 20px;
}

.contacto-container {
  max-width: 1200px;
  border-radius: 8px;
  padding: 40px 30px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.contacto-text {
  text-align: center;
}

.contacto-text h2 {
  font-size: 30px;
  font-weight: 700;
}

.contacto-text h3 {
  font-size: 18px;
  font-weight: 400;
}

/* Formulario */
.contacto-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-row-1 {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.form-row-1 input {
  flex: 1;
  padding: 12px;
  border-radius: 8px;
  font-size: 16px;
  width: 100%;
  border: 1px solid #ccc;
}

.form-row-2 {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.form-row-2 input, textarea {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
}

.form-row-3 {
  display: flex;
  justify-content: center;
}

.boton-enviar {
  background-color: #008753;
  color: white;
  padding: 12px 30px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s ease;
}

.boton-enviar:hover {
  background-color: #006e45;
  transform: scale(1.1);
}
/*--END CONTACTO--*/