body {
    font-family: "Poppins", sans-serif;
    background-color: #2e6d89;
    margin: 0;
  }
  
  .logo {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
  }
  
  .fotopersonal {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit: cover;
  }
   
  .perfil {
    padding: 20px;
  }
  
  .nombre-logo{
    font-family: "Poppins", sans-serif;
    font-size: 2rem;
    font-weight: bold;
    text-decoration: none;
    color: white;
  }
  