/*---GENERALES---*/
body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
}
html {
  scroll-behavior: smooth;
}
/*---END GENERALES*/


/*---BARRA DE NAVEGACION---*/
.franja-superior{
  height: 120px;
  width: 100%;
  background-color: rgb(46, 109, 137);
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1000;
  
}
.franja-inferior{
  height: 120px;
  width: 100%;
  background-color: rgb(46, 109, 137);
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1000;
  color: white;
  font-weight: bold;
  
}

.navegacion {
  display: flex;
  gap: 30px;
}

.navegacion a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
}
/*---END BARRA DE NAVEGACION---*/



/*---SECCIÓN IMGS---*/
.fotopersonal {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  object-fit: cover;
}
.iconos-tecnologias{
  text-align: center;
}

.python-logo{
  width: 100px;
  transition: transform 0.3s ease;
  margin-left: 15px;
}
.python-logo:hover{
  transform: scale(1.2);
}

.java-logo{
  width: 160px;
  transition: transform 0.3s ease;
  margin-left: 50px;
}
.java-logo:hover{
  transform: scale(1.2);
}

.html-logo{
  width: 210px;
  transition: transform 0.3s ease;
  margin-bottom: 10px;
}
.html-logo:hover{
  transform: scale(1.2);
}

.css-logo{
  width: 125px;
  transition: transform 0.3s ease;
  margin-bottom: 10px;
}
.css-logo:hover{
  transform: scale(1.2);
}

.js-logo{
  width: 230px;
  transition: transform 0.3s ease;
}
.js-logo:hover{
  transform: scale(1.2);
}

.mysql-logo{
  width: 120px;
  transition: transform 0.3s ease;
  margin-bottom: 10px;
}
.mysql-logo:hover{
  transform: scale(1.2);
}

.mongodb-logo{
  width: 130px;
  transition: transform 0.3s ease;
  margin-left: 50px;
  margin-bottom: 5px;
}
.mongodb-logo:hover{
  transform: scale(1.2);
}
/*---END SECCIÓN IMGS---*/